// JourneyMap配置文件。擅自修改存在风险！
// 若想在所有游戏世界中使用，请放入这里：journeymap\config\5.7\
// 想要获取更多信息，请访问：http://journeymap.info/Options_Manager
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "true",
  "shape": "Circle",
  "position": "BottomRight",
  "showDayNight": "true",
  "info1Label": "FPS",
  "info2Label": "Location",
  "info3Label": "Blank",
  "info4Label": "Blank",
  "sizePercent": "27",
  "frameAlpha": "66",
  "terrainAlpha": "30",
  "orientation": "PlayerHeading",
  "compassFontScale": "2",
  "showCompass": "false",
  "showReticle": "true",
  "reticleOrientation": "PlayerHeading",
  "active": true,
  "playerDisplay": "SmallIcons",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallIcons",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "2",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzy",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.1"
}