$ cat .gitignore
#Whitelist
/*
config/splash.properties
config/jei/worldSettings.cfg
**/output
journeymap/data

#Folders
!/config/
!/patchouli_books
!/resources
!/scripts
!/structures
!/journeymap

#Files
!/.gitignore
!/README.md
*.log
