$ cat .gitignore
#Whitelist
/*
config/splash.properties
config/jei/worldSettings.cfg
**/output

#Folders
!/config/
!/patchouli_books
!/resources
!/scripts
!/structures
!/journeymap/config/
!/journeymap/server/
!/journeymap/icon/

#Files
!/.gitignore
!/README.md
